<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>City Explorer Hunt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="completion-icon ion-margin-top">
    <ion-icon name="checkmark-circle" color="success" style="font-size: 80px;"></ion-icon>
  </div>
  
  <div class="task-info ion-margin-vertical">
    <h2>Task Finished</h2>
    <h1>Go to Migros</h1>
    <p>Distance: 0 meters</p>
  </div>

  <div class="progress-section ion-margin-vertical">
    <div class="progress-label">
      <span>Progress: 100% to destination</span>
    </div>
    <ion-progress-bar value="1.0" color="success"></ion-progress-bar>
  </div>

  <div class="actions ion-padding-top">
    <ion-button expand="block" size="large" routerLink="/ergebnisse">Next Task</ion-button>
  </div>
</ion-content>
