<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="welcome-container">
    <div class="logo-placeholder">
      <!-- Logo would go here -->
      <h1>Schnitzel Hunt</h1>
      <p>Explore, discover, and compete!</p>
    </div>

    <div class="button-container">
      <ion-button expand="block" routerLink="/register">Get Started</ion-button>
      <ion-button expand="block" fill="clear" routerLink="/login">I already have an account</ion-button>
    </div>
  </div>
</ion-content>
