<ion-content [fullscreen]="true" class="ion-padding">
  <div class="leaderboard-container">
    <ion-text>
      <h1>Leaderboard</h1>
    </ion-text>

    <ion-card>
      <ion-card-content>
        <ion-text>
          <p class="description">
            Rangliste aller Schnitzeljagd-Spiele:Hält Rang, Datum und Punkte.
          </p>
        </ion-text>

        <ion-list>
          <ion-item>
            <ion-label>
              <h2>Spieler 1</h2>
              <p>2023-10-24</p>
            </ion-label>
            <ion-badge color="primary" slot="end">121 Punkte</ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>
              <h2>Spieler 2</h2>
              <p>2023-10-23</p>
            </ion-label>
            <ion-badge color="primary" slot="end">120 Punkte</ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>
              <h2>Spieler 3</h2>
              <p>2023-10-24</p>
            </ion-label>
            <ion-badge color="primary" slot="end">100 Punkte</ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>
              <h2>Spieler 4</h2>
              <p>2023-10-23</p>
            </ion-label>
            <ion-badge color="primary" slot="end">10 Punkte</ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>
              <h2>Spieler 5</h2>
              <p>2023-10-23</p>
            </ion-label>
            <ion-badge color="primary" slot="end">10 Punkte</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary" class="action-button">
      Neue Schnitzeljagd
    </ion-button>
  </div>
</ion-content>
