<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="page-header">
        <ion-icon name="trophy"></ion-icon>
        Leaderboard
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (isLoading) {
    <ion-list>
      @for (_ of [].constructor(10); track $index) {
        <ion-item>
          <ion-label>
            <h2>
              <ion-skeleton-text [animated]="true" class="skeleton-name"/>
            </h2>
            <p>
              <ion-skeleton-text [animated]="true" class="skeleton-hunts"/>
            </p>
          </ion-label>
          <ion-skeleton-text [animated]="true" class="skeleton-badge" slot="end"/>
        </ion-item>
      }
    </ion-list>
  } @else if (entries.length === 0) {
    <p>No leaderboard entries yet.</p>
  } @else {
    <ion-list>
      @for (entry of entries; track entry.name; let i = $index) {
        <ion-item [class.current-user-item]="isCurrentUser(entry)">
          <ion-label>
            <h2>
              <span class="entry-name">{{ i + 1 }}. {{ entry.name }}</span>
              @if (isCurrentUser(entry)) {
                <ion-badge color="success" class="you-badge">You</ion-badge>
              }
            </h2>
            <p>{{ entry.hunts }} hunts played</p>
          </ion-label>
          <ion-badge [color]="getBadgeColor(i)" slot="end">{{ entry.points }} pts</ion-badge>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
