<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Permissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-padding-bottom">
    <h2>Grant Access</h2>
    <p>To enjoy the full experience, we need access to a few things.</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Camera Access</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>To complete certain challenges, you'll need to grant the Schnitzelhunt app access to your camera.</p>
      <ion-button fill="outline" expand="block" class="ion-margin-top">Request</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Location Access</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>To complete location-based challenges, please allow access to your device's location.</p>
      <ion-button fill="outline" expand="block" class="ion-margin-top">Request</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="block" routerLink="/home">Continue</ion-button>
  </div>
</ion-content>
