<ion-tabs>
  @if (showTabs()) {
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/explore">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaderboard" href="/leaderboard">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  }
</ion-tabs>
