<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search for scavenger hunts"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="filters">
    <ion-chip>Category</ion-chip>
    <ion-chip>Difficulty</ion-chip>
    <ion-chip>Location</ion-chip>
  </div>

  <ion-list>
    @for (hunt of hunts; track hunt) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ hunt.title }}</ion-card-title>
          <ion-card-subtitle>Difficulty: {{ hunt.difficulty }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ hunt.description }}</p>
          <ion-button expand="block" class="ion-margin-top" routerLink="/aufgabe-anzeigen">Start</ion-button>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="explore" href="/explore" [selected]="true">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="leaderboard" href="/leaderboard">
        <ion-icon name="trophy"></ion-icon>
        <ion-label>Leaderboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" href="/settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer>
