<p class="distance-text">Distance: {{ getMetersLeft() | number:'1.0-2' }} Meters</p>
<div class="progress-bar-container">
  <ion-progress-bar [value]="getProgress()" color="primary"></ion-progress-bar>
  <p class="progress-text">Progress: {{ getProgress() * 100 | number:'1.0-0' }}% to destination</p>
</div>
<div class="map-placeholder">
  <ng-map
    [mapId]="mapId"
    [style]="osmStyle"
    (mapReady)="initMap()"
  />
  <ng-zoom-control [mapId]="mapId" position="top-right"></ng-zoom-control>
  <ng-route
    [mapId]="mapId"
    [config]="getRouteConfig()"
  />
</div>
