<p class="distance-text">Distance: {{ getMetersLeft() }} Meters</p>
<div class="progress-bar-container">
  <ion-progress-bar [value]="getProgress()" color="primary"></ion-progress-bar>
  <p class="progress-text">Progress: {{ getProgress() * 100 }}% to destination</p>
</div>
<div class="map-placeholder">
  <capacitor-google-map #map class="map"></capacitor-google-map>

  <div class="map-loading-overlay" [class.hidden]="!mapLoading">
    <div class="map-loader" aria-hidden="true"></div>
  </div>
</div>
