<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; align-items: center;">
        <ion-icon name="home-outline" style="margin-right: 8px; font-size: 1.2em;"></ion-icon>
        Home
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Your Recent Activities</h2>

  <ion-list>
    @for (activity of recentActivities; track activity) {
      <ion-item lines="none" class="activity-item">
        <ion-label>
          <h3>{{ activity.name }}</h3>
          <p>Completed: {{ activity.completed }}</p>
          <p>Score: {{ activity.score }} points</p>
        </ion-label>
        <ion-button slot="end" fill="outline" size="small">Hunt again</ion-button>
      </ion-item>
    }
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" routerLink="/explore">Start a new Schnitzelhunt</ion-button>
</ion-content>
